@model University

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

    @Html.BeginForm("CreateUniversity","Home"){
    @Html.TextBoxFor(model=>model.Name);
    @Html.TextBoxFor(model=>model.City);
    @Html.TextBoxFor(model=>model.Country);
    
    <button type="submit">Submit</button>
    }
    

</div>
</body>
</html>