@model University

@{
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>@Model.City</h1>
    <h0>@Model.Id</h0>
    <h2>@Model.Country</h2>
</div>
</body>
</html>